body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
/*Esto es el menu principal*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color:#00488b;
    transition: 0.3s;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
   
}

/*Cambia de hover del submenu*/
.sidebar .nav-linkk{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
}

.sidebar .description{
    font-size: 14px;
}

.sidebar .nav-link:hover{
    background: #d8a602;
}


/*Cambia de hover del submenu*/
.sidebar .nav-linkk:hover{
    background: #d8a6;
}

.sidebar .sub-menu{
    background-color: #023565;
    padding: 3%;
    text-decoration: 0;
    
}
.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

/*################################################*/

/*Imagaen principal del index*/
.main-content .imagen .img1{
    width: 90%; 
    height: 160px; 
    padding: 0;
    margin-left: 25px;
    text-align: center;
}   
/*Titulo del index*/
.main-content h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #050505;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
}

/*Lina de separacion del index*/
hr{
    background-color: #316B4D;
    height: 2px;
    border: none;
    margin: 20px 0;
}
/*Esto pertenece a los gris del index*/
.row .col-5{
    text-align:justify;
    font-size: 1.2rem;
    color: black;
    border: 1px solid #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    margin: 4%;
    padding: 1%;
    border-radius: 3px;
    background-color:#F5F5E4 ;
    
}
.row .col-5 h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2%;
    text-align: center;
    color: #4F39F6
}

/*esto perteneca al estilo de bioenergy html*/

.bio .energy .img{
    padding: 0;
    margin: 0;
    display: block;
    height: 250px;
    width: 100%;
}
/*Titulo que es la bienergia*/
.bio .titulo-bio .titulo{
    margin: 0;
    padding: 0;
   margin-top: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #10A155;
}

/*configuracion de texto de col*/
.col p{
    text-align: justify;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
/*imagen de bioenergia bajo col*/
.col .imna{
    width:100%;
    height: 150px;
    margin-top: 10px;
}


/*Configuracion del origen*/

/*estilos de la imagen*/
.imgpr .line{
    padding: 0;
    margin: 0;
    display: block;
    height: 250px;
    width: 100%;
}

.orig .aside{
    padding: 5px;
    margin: 5px;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;

}
.orig h2{
    text-align: center;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #050505;
    margin-top: 3px;
}
.orig p{
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}







/*Estilo del footer*/
.footer p{
     font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0%;
    margin: 0%;
    background-color: #050505;
    height: 40px;
    color: #fff;
    position: absolute;
    bottom: 0;/*Fija el footer sin que se mueba en la parte inferior.*/
    width: 100%;
    margin-top: 30%;
    
}




@media(max-width: 480px){
    .sidebar{
        width: 60px;
    }
    .sidebar .description{
        display: none;
    }
    .sidebar .nav-link{
        justify-content: center;
    }
    .main-content{
        margin-left: 60px;
    }
}